<section class="Signup-section">
  <div class="SignUp-container">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= f.error_notification %>
      <div class="Signup-sub-container">
        <div class="form-signup column">
          <div class="input-field">
            <%= f.input :first_name, required: true, autofocus: true %>
          </div>

          <div class="input-field">
            <%= f.input :last_name, required: true %>
          </div>

          <div class="input-field">
            <%= f.input :email, required: true, input_html: { autocomplete: "email" } %>
          </div>
        </div>

        <div class="form-signup column">
          <div class="input-field">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="input-field">
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
      </div>

      <div class="Sign-btn-container">
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "sign-up-button" %>
        </div>
        <%= link_to "Home", new_session_path(resource_name), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>
