<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "ecobikers_logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <%# HERE IS THE SHOPPING CART ICON %>
          <%= link_to carts_path do %>
            <div id="shopping-cart" >
              <div class="icon-badge-container">
                <span class="p1 fa-stack fa-2x has-badge" data-count="4" id="badge">
                  <i class="fa-solid fa-cart-shopping icon-badge-icon"></i>
                </span>
                <%# <div class="icon-badge" display="false"></div> %>
              </div>
              <li class="nav-item dropdown">
            </div>
          <% end %>
        <%# HERE IS THE SHOPPING CART ICON %>
        <div class="avatar-img">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "user1.png", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
        </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
