
<% @carts.each do |cart| %>
<!-- this is bike pictur -->
  <% cart.bike.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

<ul>


  <li><%= cart.bike.brand %></li>

  <li><%= cart.bike.price %></li>

  <li><%= cart.bike.color %></li>

  <li><%= cart.bike.size %></li>

  <li><%= cart.bike.age %></li>

  <li><%= cart.bike.refurbed_year %></li>

  <li><%= cart.bike.condition %></li>

  <%= link_to "delete", cart_path(cart), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </ul>
<% end %>
