<% if @carts.empty? %>
  <%= render "shared/empty_page"  %>
<% else %>
  <% @carts.each_with_index do |cart, index| %>
    <div class="container bike-cart-item">

        <div class="container outter-box">

          <div id="carouselExampleCaptions-<%=index%>" class="carousel slide bike-item">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions-<%=index%>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions-<%=index%>" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">

              <% cart.bike.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= cl_image_tag photo.key, height: 150, width: 250, crop: :fill, class:"pic-border" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions-<%=index%>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions-<%=index%>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="container bk-d-ls">
          <h5 class="bike-detail-list">Brand: <%= cart.bike.brand %></h5>
          <h5 class="bike-detail-list">Price: <%= number_to_currency(cart.bike.price, precision: 2, unit: "€", separator: ".", delimiter: " ")  %></h5>
          <h5 class="bike-detail-list">Size: <%= cart.bike.size %></h5>
        </div>

        <div class="container buttons">
          <%=link_to cart_path(cart), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
            <div class="delete">
              <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/>
              </svg>
            </div>
          <% end %>

          <%= link_to bike_orders_path(bike_id:cart.bike.id, cart_id:cart.id), data: {turbo_method: "post"} do %>
            <div class="order-button">
              <button type="submit" class= "o-bt btn1">Order</button>
            </div>
          <% end %>
        </div>

    </div>
  <% end %>
<% end %>
