<div class="container--grid">
  <% @bikes.each_with_index do |bike, bike_index| %>
  <div class="bike-card mt-4 mb-4">
  <div id="carouselExampleCaptions-<%=bike_index%>" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions-<%= bike_index %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions-<%= bike_index %>" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">

      <% bike.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">

        <%= link_to bike_path(bike) do %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <div class="carousel-caption d-none d-md-block bike-background-picture">
            <h5 class="bike-pic-text"><%= bike.brand %></h5>
            <p class="bike-pic-text">Size: <%= bike.size%></p>
            <p class="bike-pic-text">Refurbed Year: <%= bike.refurbed_year %></p>
            <p class="bike-pic-text">Price: <%= number_to_currency(bike.price, precision: 2, unit: "€", separator: ".", delimiter: " ") %></p>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions-<%=bike_index%>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions-<%=bike_index%>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <% end %>
</div>
